.App {
    text-align: center;

}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.buttonGrid Button {
    margin-bottom: 15px;
}

#frage {
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #1a56a8;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 1.7em;
    height: 3.5em;
}

#3 {
    margin-bottom: 5px;
}

h3 {
    font-size: x-large;
    margin-top: 2px;
    padding-top: 2px;
}

h5{
    font-size: large;
}

span {
    margin-right: 5px;
}

.EditPage {
    text-align: center;
}

#addNewQuestion {
    margin-bottom: 5px;
}

#navigatorGrid {
    width: 60%;
}