.QuestionPage {
    text-align: center;
}

h1 {
    font-size: 1.4em;
}

#question {
    width: 26%;
}

#answer1 {
    width: 26%;
}

#answer2 {
    width: 26%;
}

#answer3 {
    width: 26%;
}

#correctAnswer {
    width: 26%;
}

.input-group {
    width: 100%;
    font-size: 1.5em;
    height: 1.8em;
}

.form-control {
    font-size: 0.9em;
    height: 3em;
}

.QuestionPage span{
    font-size: 1em;
    height: 1.8em;
}

#toggleButton {
    margin-bottom: 5px;
}

#submit {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10em;
    height: 2em;
    font-size: large;
}

.EditPage span{
    font-size: 1em;
    height: 1.8em;
}